<ion-view>
    <ion-nav-title>
        <span style="color: whitesmoke;">Detector Selector</span>
    </ion-nav-title>
    <ion-content style="text-align: center">  
        <br>
        <br>
        <br>
        <br>
        <br>
        <img src="lib/detectorData/img/home_icon.jpg" style="height:100px; opacity: 0.7;">
        <br>
        <br>
        <p>Detector Selector Mobile app was developed as a mobile solution for the WMD Detector Selector website maintained by the US Army. All data is sourced from the website. </p>
        <br>
        <p>Developed 2015 by Matthew Seto with help from David Hirschberg, Alvin Liem, Pierce Roth, and Peter Emanuel</p>
        <br>        
    </ion-content>
    <ion-footer-bar class="bar-stable"></ion-footer-bar>
</ion-view>
