<ion-view>
    <ion-nav-title>
        <span style="color: whitesmoke;">Detector Selector</span>
    </ion-nav-title>
  <ion-content style="text-align: center">  
      <br>
      <br>
      <br>
      <br>
      <br>
      <img src="lib/detectorData/img/home_icon.jpg" style="height:100px; opacity: 0.7;">

    </ion-content>
    
    <hr>
      <div class="searchOptions">
            <h4>SELECT SCENARIO</h4>
            <hr>
            <div class="row">
                <div class="col" style="padding-left: 7%;">
                    <button class="button button-clear button-assertive" ng-click="goScenario('field')">
                        <img src="lib/detectorData/img/field.png" style="height: 40px">
                    </button>
                    <br>
                    <p>Field</p>
                </div>
                <div class="col" style="padding-right: 7%;">
                    <button class="button button-clear button-assertive" ng-click="goScenario('mobile')">
                        <img src="lib/detectorData/img/mobile.png" style="height: 40px">
                    </button>
                    <br>
                    <p>Mobile</p>
                </div>
            </div>
            <div class="row">
                <div class="col" style="padding-left: 7%;">
                    <button class="button button-clear button-assertive" ng-click="goScenario('analytic')">
                        <img src="lib/detectorData/img/analytic.png" style="height: 40px">
                    </button>
                    <br>
                    <p>Analytical</p>
                </div>
                <div class="col" style="padding-right: 7%;">
                    <button class="button button-clear button-assertive" ng-click="goScenario('diagnostic')">
                        <img src="lib/detectorData/img/diagnostic.png" style="height: 40px">
                    </button>
                    <br>
                    <p>Diagnostic</p>
                </div>
            </div>
            <hr style="color: orangered">
      </div>
    <ion-footer-bar class="bar-stable"></ion-footer-bar>
</ion-view>