<ion-view view-title="Detector Selector">
  <ion-content style="text-align: center">  
      <br>

    <button class="button button-block button-positive" ng-click="goScenario('field')">
        <img src="lib/detectorData/img/field.png" style="height: 25px">
        Field
    </button>
    <button class="button button-block button-positive" ng-click="goScenario('mobile')">
        <img src="lib/detectorData/img/mobile.png" style="height: 25px">
        Mobile
    </button>
    <button class="button button-block button-positive" ng-click="goScenario('diagnostic')">
        <img src="lib/detectorData/img/diagnostic.png" style="height: 25px">
        Diagnostic
    </button>
    <button class="button button-block button-positive" ng-click="goScenario('analytic')">
        <img src="lib/detectorData/img/analytic.png" style="height: 25px">
        Analytical
    </button>      
  </ion-content>
</ion-view>