<ion-view view-title="Detector Selector">
  <ion-content style="text-align: center">  
      <br>

    <button class="button button-block button-positive" ng-click="goType('biological')">
        <img src="lib/detectorData/img/type-1.png" style="height: 25px">
        Biological
    </button>
    <button class="button button-block button-positive" ng-click="goType('chemical')">
        <img src="lib/detectorData/img/type-2.png" style="height: 25px">
        Chemical
    </button>
    <button class="button button-block button-positive" ng-click="goType('radiological')">
        <img src="lib/detectorData/img/type-3.png" style="height: 25px">
        Radiological
    </button>
    <!--button class="button button-block button-positive" ng-click="goType('')">
        <img src="lib/detectorData/img/type-6.png" style="height: 25px">
        Multi-Purpose
    </button-->      
  </ion-content>
</ion-view>